<h1>Todo List ({{uncompletedTodos}})</h1>

<div class="toolbar">
    <button (click)="newTodo()">New Todo</button>
    <div>
        <label>
            Show Completed ({{completedTodos}})
            <input type="checkbox" [(ngModel)]="showCompleted">
        </label>
    </div>
</div>

<br>

<table class="table">
    <tr>

        <td></td>
        <td></td>
        <td>uid</td>
        <td>Description</td>
        <td>Complete</td>
        <td>==Created At==</td>
        <td>Updated At</td>
    </tr>

    <ng-container *ngFor="let todo of models" [class.transluscent]="todo.complete">
      <tr [@anim1]="'onEnter'">
        <ng-container *ngIf="(todo.complete && showCompleted) || !todo.complete" >

          <td>
            <button (click)="delete(todo)">Delete</button>
          </td>
          <td>
            <button (click)="edit(todo)">Edit</button>
          </td>
          <td>{{todo.uid}}</td>
          <td>{{todo.description}}</td>
          <td>
            <input #campo type="checkbox" [checked]="todo.complete" (change)="completeTodo(todo, campo)">
          </td>
          <td>{{todo.createdAt}}</td>
          <td>{{todo.updatedAt}}</td>
        </ng-container>
      </tr>
    </ng-container>


</table>

