.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    tr {
        td  {
            padding: 8px;
            background-color: #fafafa;
        }
    }

    // cabeçalho
    tr:first-child {
        td {
            font-weight: bold;
            background-color: #ddd;
            font-family: 'courier new';
        }
    }

}

.toolbar {
    background-color: burlywood;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transluscent {
  opacity: .5;

}
